.sidebar {
    min-height: 40vmin;
    border: 1px solid black;
    border-radius: .5rem;
    margin-left: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.sidebar p:hover {
    background-color: lightgray;
}

.sidebar hr {
    width: 100%;
    border-bottom: 1px solid black;
}