.post-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding: 0rem 1rem 0rem 1rem; 
    border: 2px solid black;
    border-radius: .5rem;
}
.post-header { 
    display: flex; 
    align-items: center;
    width: 100%;
    gap: 1rem; 
    border-bottom: 1px solid black;
    font-size: .75rem; 
}
.post-title { 
    font-weight: bold; 
    font-size: 1rem; 
}
.post-footer { 
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    gap: calc(50% - 11em * .75);; 
    width: 100%; 
    border-top: 1px solid black;
    font-size: .75rem; 
}