.post-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0rem 1rem 0rem 1rem; 
    border: 2px solid black;
    border-radius: .5rem;
}

.post-header {
    display: flex; 
    align-items: center;
    width: 100%;
    gap: .5rem; 
    border-bottom: 1px solid black;
    padding: .5rem;
}

.post-title { 
    margin-left: 2rem;
    font-weight: bold; 
    font-size: 1rem; 
}

.post-footer { 
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    gap: calc(50% - 14rem * .75);; 
    width: 100%; 
    border-top: 1px solid black;
    font-size: .75rem; 
    padding: .5rem;
}

.post-body {
    padding: 1rem;
}

.footer-buttons {
    display: flex;
    gap: 1rem;
}