header {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: stretch;
    align-items: center;
    border-bottom: 2px solid black;
}

header h1 {
    padding: 1rem;
}

nav {
    padding: 0 5% 0 5%;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}

nav div {
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
    border: 2px solid black;
    border-radius: .5rem;
}